[submodule "site/themes/hugo-whisper-theme"]
	path = site/themes/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
[submodule "rosella"]
	path = rosella
	url = https://github.com/rhysnewell/rosella
